<!DOCTYPE html>
<html>
	<head>
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body class="">
	  <div class="invoice-box" style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
	  	<div align="center">
		    <div>
		      <p>Welcome to file File Sender</p>
		      <p>You have to upload file with urls and enter email address</p>
		      <h1><%= link_to "Upload File", upload_file_path, class: "approval-button"%></h1>
		    </div>
	  	</div>
		</div>
	</body>
</html>
